

<p>
  <strong>Name:</strong>
  <%= @order.name %>
</p>

<p>
  <strong>Nit:</strong>
  <%= @order.nit %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
