<h1>Reporte de productos vendidos entre el <%= @init_date %> y el <%= @final_date %></h1>

<div class="table-responsive">
  <table class="table table-hover table-stripped" id="products-report">
    <thead>
      <tr>
        <th>
          Producto
        </th>
        <th>
          Cantidad vendida
        </th>
      </tr>
    </thead>
    <tbody>
      <% @branch_products.each do |branch_product| %>
        <tr>
          <td>
            <%= branch_product.product.name %>
          </td>
          <td>
            <%= branch_product.quantity_sold(@init_date, @final_date) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


<script>
	$(document).ready(function(){
    TableExport(document.getElementById("products-report"), {
      headers: true,
      footer: true,
      formats: ['xls', 'csv', 'txt'],
      position: 'top',
      bootstrap: true
    });
	});
</script>